
@font-face {
    font-family: "JiZiJingDianLiBianJianFan-Shan";
    src: url('../font/JiZiJingDianLiBianJianFan-Shan\(GEETYPE-LiBianGBT-Flash\)-2.ttf');
    font-weight: normal;
    font-style: normal;
}  

@font-face {
    font-family: "YongZhongFangSong-2";
    src: url('../font/YongZhongFangSong-2.ttf');
    font-weight: normal;
    font-style: normal;
}  